[Desktop Entry]
Name=Liva-GUI
Comment=Liva Voice Assistant
Exec=liva-gui.py
Icon=user
Categories=Universal Access
Terminal=false
Type=Application
Keywords=universal access;voice assistant;
